.diso-form p{
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    float: left;
    width: 100%;
}
.diso-form input {
    padding: 13px !important;
    margin-bottom: 0 !important;
    border-radius: 2px !important;
}

.diso-form select {
    padding: 13px !important;
    margin-bottom: 0 !important;

}
.diso-form .form-error{
    display: none;
}

.diso-form .left {
    clear:both;
    width:49.5%;
    float:left;
    margin-left:0;
}

.diso-form .right {
    width:49.5%;
    float:left;
    clear:none;
    margin-left:1%;
}

.diso-form .button{
    padding: 16px 20px;
    border-radius: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: normal;
    font-size: 0.92em;
    min-width: 142px;
    outline: none;
}